<header class="bg-[#fafafa] py-3 w-full flex">
  <div class="p-3 flex items-center gap-2">
    <img class="w-5" src="/images/Logo_Icon_Container.svg">
    <h1 class="font-bold">goTask</h1>
  </div>
  <nav class="p-3 ml-auto flex gap-6">
    <button class="p-2 round-xl">
      <img class="w-5" src="/images/sino.svg">
    </button>
    <div class="flex items-center gap-3">
      <img w-7 src="/images/User_Avatar.svg">
      <span class="font-bold">Jennie K.</span>
      <button class="w-3">
        <img class="w-3" src="/images/Sign_Out Icon.svg">
      </button>
    </div>
  </nav>
</header>
